*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.main-content{
    border : 1px solid skyblue;
    border-radius: 30px;
    transition: ease 0.4s;
    min-height: 200px;
}
.main-content:hover{
    border: white;
    box-shadow: 2px 0px 15px 4px grey;
}
.main-content h1 img{
    width: 25%;
}
form div .submit-button{
    background-color: grey;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    transition: ease 0.4s;
    box-shadow: none;
    border: none;
    padding:3px 12px;
}
form div .submit-button:hover{
    background-color: rgb(0, 113, 241);
}
.user-names:last-child{
    padding-bottom: 20px;

}